# Project exclude paths
/auxil/
/out/
/Experiment/
/Blender/
/Excel/
/Presentation/
/ComplexityPython/.idea/misc.xml
/ComplexityPython/.idea/modules.xml
/ComplexityPython/.idea/inspectionProfiles/profiles_settings.xml
/ComplexityPython/.idea/vcs.xml
/ComplexityPython/.idea/workspace.xml
